### checking out scikit learn

In [1]:
import numpy as np
from sklearn.metrics import accuracy_score
y_pred = [0,2,1,3]
y_true = [0,1,2,3]
accuracy_score(y_true, y_pred)
#output shows 0.5 means 50% accuracy since 2 out 4 data were correct
accuracy_score(y_true, y_pred, normalize = False)
#output shows 2 bcoz 2 of the data were true.

2

### checking out panda function

In [2]:
import pandas as pd

# create a simple dataset of people
data = {'Name': ["জসিম", "করিম", "মিতা", "অন্তরা"],
        'Location' : ["রাজশাহী", "ঢাকা", "রংপুর", "কুষ্টিয়া"],
        'Age' : [24, 13, 53, 33]
       }

frame = pd.DataFrame(data)

display(frame)

     Name  Location  Age
0    জসিম   রাজশাহী   24
1    করিম      ঢাকা   13
2    মিতা     রংপুর   53
3  অন্তরা  কুষ্টিয়া   33

In [3]:
#trying out some query
display(frame[frame.Age > 30])

     Name  Location  Age
2    মিতা     রংপুর   53
3  অন্তরা  কুষ্টিয়া   33

### checking out numpy

In [4]:
#creating array with numpy
import numpy as np
x = np.array([1,2,3])
x

array([1, 2, 3])

In [5]:
y = np.arange(10)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
#creating multidimensional(3*4) array

import numpy as np
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]]) # 3*4 array[3ta row, 4ta column]
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [11]:
#we'll slice our array

b= a[:2, 1:3] #[row, column],python e indexing 0 theke start. row(:2)diye 0,1 row neya hoy bujhacche coz last num(2) baad pore
print(b)
#same column er khetre o...1,2 no column neya hocche, 0,3 baad

[[2 3]
 [6 7]]

In [8]:
c = a[:2] #ekhane slicing shudhu matro row slicing kora hocche coz 2nd kono comma nei...(0,1) row neya hocche
print(c)

[[1 2 3 4]
 [5 6 7 8]]

### function

In [10]:
def double(x):
    return x*2

print(double(3))

6

In [12]:
def square(x):
    return x*x

print(square(3))

9

### dictionary

In [13]:
tel = {'rafiq': 4098, 'mim': 4139}
tel['karim'] = 4127
tel

{'rafiq': 4098, 'mim': 4139, 'karim': 4127}

In [14]:
tel['mim']

4139

In [28]:
# looping dictionary items

mlbooks = {'data science from scratch': 'joel grus', 'python data scince handbook': 'jake vanderplas'}

for x,y in mlbooks.items():
    print(x,y)

data science from scratch joel grus
python data scince handbook jake vanderplas

### for loop, if/else condition

In [7]:
words = ['cat','window','door']
for x in words:
    print(x, len(x))

cat 3
window 6
door 4

### lists

In [8]:
squares = [1,4,9,16,25,36]
squares

[1, 4, 9, 16, 25, 36]

In [9]:
squares[-1]

36

In [13]:
squares[:3]

[1, 4, 9]

### normal expression

In [14]:
width = 20
height = 5*6
square = width*height
print(square)

600

In [26]:
tax = 12.5/100
price = 100.50
price*tax

12.5625

In [27]:
price+_ #ekhane (_) last j value sheita k add kortese

113.0625

In [28]:
round(_,2) #2 decimal point porjonto round kortese

113.06

### pass

In [29]:
# pass is just a placeholder for functionality to be added later
sequence = {'p','a','s','s'}
for val in sequence:
    pass

In [30]:
def function(args):
    pass

In [31]:
class example:
    pass

### dir() function

In [33]:
from sklearn import datasets
iris = datasets.load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [40]:
import pandas as pd
data = pd.read_csv('chirps.csv')
dir(data)

['Chirps_15s',
 'Date',
 'T',
 'Temp_C',
 'Time',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [42]:
print(data)

      Date  Time  Chirps_15s   Temp_C
0   21-Aug  2030      44.000  26.9440
1   21-Aug  2100      46.400  25.8330
2   21-Aug  2200      43.600  25.5560
3   24-Aug  1945      35.000  23.0560
4   24-Aug  2015      35.000  21.3890
5   24-Aug  2100      32.600  20.0000
6   24-Aug  2200      28.900  18.8890
7   24-Aug  2230      27.700  18.3330
8   25-Aug    30      25.500  16.3890
9   25-Aug   330      20.375  13.8890
10  25-Aug   500      12.500  12.7780
11  25-Aug  2000      37.000  24.5830
12  25-Aug  2030      37.500  23.3330
13  25-Aug  2100      36.500  23.3330
14  25-Aug  2200      36.200  22.5000
15  26-Aug   530      33.000  18.8890
16  26-Aug  2030      43.000  25.2780
17  26-Aug  2200      46.000  25.8330
18  27-Aug  2000      29.000  20.2780
19  27-Aug  2030      31.700  20.2780
20  27-Aug  2100      31.000  20.0000
21  27-Aug  2200      28.750  18.8890
22  28-Aug   240      23.500  15.0000
23  28-Aug  2010      32.400  21.1110
24  28-Aug  2050      31.000  20.5560
25  28-Aug  2200      29.500  19.4440
26  29-Aug   240      22.500  16.2500
27  29-Aug   440      20.600  14.7220
28  29-Aug  2000      35.000  22.2220
29  29-Aug  2050      33.100  21.6670
30  29-Aug  2200      31.500  20.5560
31  29-Aug  2330      28.800  19.1670
32  30-Aug   330      21.300  15.5560
33  30-Aug  2000      37.800  23.8890
34  30-Aug  2055      37.000  22.9170
35  30-Aug  2200      37.100  22.5000
36   1-Sep  2200      36.200  21.1110
37   2-Sep   330      31.400  19.7220
38   2-Sep   600      30.200  18.8890
39   4-Sep   240      31.300  20.5560
40   4-Sep   505      26.100  17.2220
41   5-Sep   500      25.200  17.2220
42   6-Sep   600      23.660  16.1110
43   7-Sep   215      22.250  16.6670
44   7-Sep   525      17.500  13.6110
45   9-Sep  2010      15.500  12.7780
46   9-Sep  2110      14.750  11.1110
47  10-Sep  2115      15.000  11.6670
48  10-Sep  2210      14.000  10.0000
49  11-Sep   315      18.500  11.1110
50  16-Sep  2100      27.700  18.3330
51  17-Sep  2200      26.000  17.2220
52  18-Sep   130      21.700  15.0000
53  19-Sep   415      12.500  10.4170
54  19-Sep   435      12.500   9.5833

In [43]:
data

      Date  Time  Chirps_15s   Temp_C
0   21-Aug  2030      44.000  26.9440
1   21-Aug  2100      46.400  25.8330
2   21-Aug  2200      43.600  25.5560
3   24-Aug  1945      35.000  23.0560
4   24-Aug  2015      35.000  21.3890
5   24-Aug  2100      32.600  20.0000
6   24-Aug  2200      28.900  18.8890
7   24-Aug  2230      27.700  18.3330
8   25-Aug    30      25.500  16.3890
9   25-Aug   330      20.375  13.8890
10  25-Aug   500      12.500  12.7780
11  25-Aug  2000      37.000  24.5830
12  25-Aug  2030      37.500  23.3330
13  25-Aug  2100      36.500  23.3330
14  25-Aug  2200      36.200  22.5000
15  26-Aug   530      33.000  18.8890
16  26-Aug  2030      43.000  25.2780
17  26-Aug  2200      46.000  25.8330
18  27-Aug  2000      29.000  20.2780
19  27-Aug  2030      31.700  20.2780
20  27-Aug  2100      31.000  20.0000
21  27-Aug  2200      28.750  18.8890
22  28-Aug   240      23.500  15.0000
23  28-Aug  2010      32.400  21.1110
24  28-Aug  2050      31.000  20.5560
25  28-Aug  2200      29.500  19.4440
26  29-Aug   240      22.500  16.2500
27  29-Aug   440      20.600  14.7220
28  29-Aug  2000      35.000  22.2220
29  29-Aug  2050      33.100  21.6670
30  29-Aug  2200      31.500  20.5560
31  29-Aug  2330      28.800  19.1670
32  30-Aug   330      21.300  15.5560
33  30-Aug  2000      37.800  23.8890
34  30-Aug  2055      37.000  22.9170
35  30-Aug  2200      37.100  22.5000
36   1-Sep  2200      36.200  21.1110
37   2-Sep   330      31.400  19.7220
38   2-Sep   600      30.200  18.8890
39   4-Sep   240      31.300  20.5560
40   4-Sep   505      26.100  17.2220
41   5-Sep   500      25.200  17.2220
42   6-Sep   600      23.660  16.1110
43   7-Sep   215      22.250  16.6670
44   7-Sep   525      17.500  13.6110
45   9-Sep  2010      15.500  12.7780
46   9-Sep  2110      14.750  11.1110
47  10-Sep  2115      15.000  11.6670
48  10-Sep  2210      14.000  10.0000
49  11-Sep   315      18.500  11.1110
50  16-Sep  2100      27.700  18.3330
51  17-Sep  2200      26.000  17.2220
52  18-Sep   130      21.700  15.0000
53  19-Sep   415      12.500  10.4170
54  19-Sep   435      12.500   9.5833